// Colors
$facebook-blue: #4267B2;
$grey-600: #757575;

// Sizes

// https://developers.google.com/identity/branding-guidelines
$sign-in-button-height: 40px;
$sign-in-img-height: 18px;
$sign-in-img-margin: ($sign-in-button-height - $sign-in-img-height) / 2;
$sign-in-space-between: 24px - $sign-in-img-margin;

$button-margin: 8px;
