<form [formGroup]="sleepTimeForm" (ngSubmit)="onSetSleepTime()">
  <mat-form-field>
    <input matInput formControlName="startDate" [matDatepicker]="picker" placeholder="Choose a date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="sleepTimeForm.get('startDate').hasError('required')">
      Date is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <div id="time">
    <mat-form-field id="hour">
      <mat-select formControlName="hour" placeholder="Time" required>
        <mat-option *ngFor="let hour of hours" value="{{hour.toString()}}">{{hour}}</mat-option>
      </mat-select>
    </mat-form-field>
    :
    <mat-form-field id="minute">
      <mat-select formControlName="minute" required>
        <mat-option *ngFor="let minute of minutes" value="{{minute.toString()}}">{{minute}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field id="period">
      <mat-select formControlName="period" required>
        <mat-option *ngFor="let period of periods" value="{{period.toString()}}">{{period}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-select formControlName="state" placeholder="State" required>
      <mat-option *ngFor="let state of states" value="{{state.toString()}}">{{state}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button type="submit" [disabled]="!sleepTimeForm.valid" color="primary">Add</button>
</form>