<form [formGroup]="sleepTimeForm" (ngSubmit)="onSetSleepTime()">
  <mat-form-field>
    <input matInput formControlName="startDate" [matDatepicker]="picker" placeholder="Choose a date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="sleepTimeForm.get('startDate').hasError('required')">
      Date is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="startTime" placeholder="Start time" required>
    <mat-error *ngIf="sleepTimeForm.get('startTime').hasError('pattern')">
      Enter a valid start time 'h:mm a'
    </mat-error>
    <mat-error *ngIf="sleepTimeForm.get('startTime').hasError('required')">
      Start time is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="state" placeholder="State" required>
      <mat-option *ngFor="let state of states" value="{{state.toString()}}">{{state}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button type="submit" [disabled]="!sleepTimeForm.valid" color="primary">Add</button>
</form>