.fill-space {
  flex: 1 1 auto;
}

header {
  margin-bottom: 15px;
}

a:not(:last-of-type) {
  margin-right: 8px;
}

img {
  margin-right: 15px;
}

@media (max-width: 575.98px) {
  #title {
    visibility: hidden;
  }
}