<header>
  <nav>
    <mat-toolbar color="primary" class="mat-elevation-z6">  
      <a mat-button href="/">
        <img alt="" src="../../../assets/logo.svg"> {{title}}
      </a>

      <div class="fill-space"></div>

      <div *ngIf="authService.user | async as user; else showSignUpOrIn">
          <a mat-button routerLink="/account">Account</a>
        <button mat-button (click)="signOut()">Sign Out</button>
      </div>

      <ng-template #showSignUpOrIn>
        <a mat-button routerLink="/signin">Sign In</a> 
        <a mat-raised-button routerLink="/signup" color="accent">Sign Up</a>
      </ng-template>
    </mat-toolbar>
  </nav>
</header>