<header>
  <nav>
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <a mat-button href="/">
        <img alt="" src="assets/images/logos/logo.svg">
        <span id="title">{{title}}</span>
      </a>

      <div class="fill-space"></div>

      <div *ngIf="authService.user | async as user; else showSignUpOrIn">

        <button mat-mini-fab color="accent" [matMenuTriggerFor]="menu">{{userInitial | async | uppercase}}</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/dashboard">Dashboard</button>
          <button mat-menu-item routerLink="/account">Account</button>
          <button mat-menu-item (click)="signOut()">Sign Out</button>
        </mat-menu>
      </div>

      <ng-template #showSignUpOrIn>
        <a mat-button routerLink="/signin">Sign In</a>
        <a mat-raised-button routerLink="/signup" color="accent">Sign Up</a>
      </ng-template>
    </mat-toolbar>
  </nav>
</header>