.sleep-time-table {
  display: flex;
  flex-direction: column;
  max-width: 673px;
}

.mat-table {
  overflow: auto;
  max-height: 600px;
}

.mat-column-startTime {
  flex-basis: 50%;
}

.mat-column-actions {
  justify-content: flex-end;
}